
/* Title Section */

.titleSection {
    min-height: 25vh;
    @apply 
    bg-[url('/images/servicesPageTitleImg.png')] bg-cover bg-center
    flex flex-col 
    text-center relative
    justify-center;
}

.bg-overlay {
    @apply absolute inset-0 ;
    background-color:rgba(183, 27, 48, 0.616);
}

.titleSection h1 {
    @apply text-5xl font-bold p-5 z-40 text-white
}


/* Content Section */

.contentSection {
    min-height: 57vh;
    @apply py-5 mb-3 bg-white
    flex-col items-center;
}

.contentSection img {
    @apply rounded-lg
}

.contentSection h2 {
    @apply text-2xl font-bold ml-5;
}

@media (min-width: 1000px) {
    .contentSection {
        @apply px-10;
    }
}




/* Services Intro Section */
.servicesIntroSection {
    @apply px-5;
}


/* Service Item Section */
.serviceItemSection {
    @apply m-5
}

@media (min-width: 1000px) {
    .serviceItemSection {
        @apply flex mx-2 py-10 justify-between;
    }

    .serviceItemSection:nth-child(even) .imgWrapper {
        order:2
    }
}


.serviceItem {
    @apply flex flex-col pt-10; 
}

.serviceItem h2 {
    @apply m-0;
}

@media (min-width: 1000px) {
    .serviceItem {
        min-width: 70%;
        @apply px-3;
    }
}

.serviceItemListHeader {
    @apply rounded-l-lg ml-5 py-2 mt-5 flex shadow-lg;
    background-color: rgba(183, 27, 48);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    width: 95%;
}

.serviceItemListHeader h3 {
    @apply px-2
}

@media (min-width: 1000px) {
    .serviceItemListHeader {
        width: 60%;
    }
}

.contentSection h3 {
    @apply flex mx-5 text-xl justify-center text-white;
    max-width: 75%;
}

.contentSection ul {
   @apply ml-5;
    max-width: 75%;
}

.contentSection p {
    @apply pt-3 
}

/* .imgWrapper {
    @apply flex flex-col items-center
    overflow-hidden justify-center rounded-lg;
    height:auto;
    width: auto;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 5rem;
} */

@media (min-width: 1000px) {
    .serviceItem {
        max-width: 50%;
    }

    

    /* .imgWrapper {
        margin-bottom: 0;
        margin-top: 0;
        height:(auto + 5rem);
        max-width: auto;
    } */
}

.imgWrapper img {
    @apply
    rounded-lg object-cover shadow-lg shadow-stone-500 my-10;
    width: 25rem;
    margin:auto;
    margin-top: 5rem;
}

