@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navMenu {
  @apply flex md:space-x-4 items-center;
}

.navMenuItem {
  @apply hidden md:block text-gray-800;
}

.footer {
  background-color: rgba(28,28,27,.85);
}

.footerIcon:hover {
  color:#d60506;
  font-size: 2.2rem;
}

.headerCTAButton {
  border-radius: 50;
  border-color: #d60506;
  font-weight: bold;
  @apply text-gray-800 border rounded-lg border-solid p-1;
}

@media (max-width: 500px){
  .headerCTAButton {
    @apply w-36 h-12 text-center flex justify-center items-center text-xl
  }
}

.headerCTAButton:hover {
  background-color: #d60506;
  color: white;
}

@media (max-width: 500px){
.hamburgerMenu {
  @apply flex flex-col gap-1
}
.hamburgerMenu span {
  @apply bg-black w-6 h-0.5;
}
}

/*Mobile Nav Menu*/

.mobileNavMenu {
  @apply md:hidden 
  left-0 right-0 top-24 z-50
  flex-col absolute 
  w-full text-center 
  rounded-b-lg 
  bg-white shadow-lg
  items-center
}

.mobileNavItem {
   @apply flex my-5
}

.mobileNavItem:hover {
  
}