.servicesSection {
    min-height: 33vh;
    @apply flex flex-col items-center justify-center p-10
}

.serviceCard {
    @apply w-full;
    min-height: 50vh;
}

.heroSection {
    min-height: 50vh;
    @apply relative bg-[url('/images/heroImg.png')] bg-cover flex w-full flex-col;
}


.heroBGOverlay {
    @apply absolute inset-0 bg-black bg-opacity-50;
}

.titleContainer {
    @apply flex flex-col z-40
    ml-10 mt-10
    md:relative md:top-20 md:left-5 w-1/2;
}

.heroSubtitle {
    color: 
    rgb(240,43,52);
    @apply relative text-3xl font-bold mt-3;
}

.heroCTAButtonContainer {
    @apply w-full z-40
    flex md:justify-center 
    md:relative md:top-40 md:top-32 
    my-5
    text-center text-2xl font-bold text-white;
}

.heroCTAButton {
    @apply w-full md:w-auto md:px-5 border-solid border-2 p-2 rounded-lg hover:bg-white hover:text-black;
}

.QuoteFormContainer {
    @apply border-solid min-h-60;
    background-color: 
    rgb(240,43,52);
} 

.QuoteFormContainer h1 {
    @apply text-center pt-8 text-xl font-bold text-white;
}

.QuoteFormContainer form {
    @apply flex flex-col  w-3/4 py-5;
}

.QuoteFormContainer label {
    @apply pt-3
}

.QuoteFormContainer input {
    @apply p-1 pl-3
}

.QuoteFormContainerError {
    @apply text-white py-2
}

.QuoteFormSubmitContainer {
    @apply pb-8 md:flex md:justify-center;
}

.QuoteFormSubmitContainer button {
    @apply mt-5 p-2 text-2xl border-solid border-2 text-white font-bold rounded-lg w-full md:w-auto;
}

.QuoteFormContainer button:hover {
    @apply bg-white text-black;
}

.aboutUsSection {
    min-height: 40vh;
    @apply relative bg-[url('/images/aboutUsBG.png')] bg-cover;
}

.aboutUsSectionPic {
    max-width: 50%;
    min-height: 300px;
    object-fit: cover;
}

.aboutUsBGOverlay {
    @apply absolute inset-0 opacity-65;
    background-color: rgb(214, 219, 220);
    
}

.aboutUsContentContainer {
    @apply relative px-6 pb-10 z-20 text-lg;
}